.label {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.input {
  width: 150px;
  border: 1px solid gray;
  margin-top: 5px;
  outline: none;
}

.input:focus{
  
  border :2px solid blue;
  
}